body {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  padding: 5px;
}

/* GRID LAYOUT */
* {
    box-sizing: border-box;
}

.logo {
  width: auto;
  float: left;
}

.content {
    width: auto;
    float: left;
    padding: 10px;
    text-align: center;
}

#downloads {
  color: #999999;
  text-decoration: none;
}

#title {
  color: #333333;
}
